.navbar{
    background-color: rgb(66, 64, 64);
}
.navbar .navbar-brand{
    margin-left:15%;
    margin-right:45%;
    color:white;
}
#nav-link{
    color:white;
}
#nav-linkTwo{
    color:white;
}
#nav-linkThree{
    color:white;
}
#nav-linkFour{
    color:white;
}